{
  "sesta_1": {
    "name": "Sesta_1",
    "nicknames": [ "sesta_1", "Sesta_1" ],
    "type": "m1"
  },
  "sesta_3": {
    "name": "Sesta_2",
    "nicknames": [ "sesta_2", "Sesta_2" ],
    "type": "m1"
  },
  "sesta_2": {
    "name": "Sesta_3",
    "nicknames": [ "sesta_3", "Sesta_3" ],
    "type": "m1"
  }
}
